.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.add{
  padding-left: 44px;
  padding-top: 75px;
}
img{
  width: 70%;
}
.text-block{
  width: 10%;
  height: 251px;
  position: absolute;
  bottom: 101px;
  right: 455px;
  color: white;
  padding-left: 20px;
  padding-right: 25px;
}
.text-block input{
  padding: 14px;
  padding-left: 15px;
}
.container {
  position: relative;
  font-family: Arial;
}
.text-blockone{
width: 10%;
position: absolute;
bottom: 132px;
right: 1086px;
color: white;
padding-left: 20px;
padding-right: 25px;
}
.text-blockone input{
  padding: 14px;
  padding-left: 15px;
}
.text-blocktwo{
  width: 10%;
  position: absolute;
  bottom: 133px;
  right: 852px;
  color: white;
  padding-left: 20px;
  padding-right: 25px;
}
.text-blocktwo input{
  padding: 14px;
  padding-left: 15px;
}

.text-blockthree{
  width: 10%;
  position: absolute;
  bottom: 133px;
  right: 606px;
  color: white;
  padding-left: 20px;
  padding-right: 25px;

}
.text-blockthree input{
  padding: 14px;
  padding-left: 15px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.print{
  margin-left: 54px;
  margin-top: 33px;
}